{% extends 'base.html.twig' %}

{% block title %}Hello VacancyController!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .logout_button { }
    .vacancy_card { margin-top: 20px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16); border-radius: 10px; }
    h3, p { margin: 0; }
    .vacancy_card { display: flex;}
    .vacancy_card_title, .vacancy_card_body, .vacancy_card_buttons { width: 33.33%;}
    .vacancy_card_title { display: flex; justify-content: center; align-items: center;}
    .vacancy_card_body_item { text-align: center; }
    .small_text { font-size: 10pt; }
    .message { background-color: #74ff74; width: 100%; height: 60px;}
</style>



  <div class="header">
    <a href="{{ path('logout') }}" class="logout_button">Logout</a>
  </div>
  <div class="wrapper">

    <h2>Vacancies list</h2>
    <a href="/create/show">Create Vacancy</a>

    {% if vacancyTitle %}
      <div class="message">Successfully created vacancy {{ vacancyTitle }}</div>
    {% endif %}

    {% for vacancy in vacancies %}
    <div class="vacancy_card">
      <div class="vacancy_card_title">
        <h3>{{ vacancy.title }}</h3>
      </div>
      <div class="vacancy_card_body">
        <div class="vacancy_card_body_item">
          <span class="small_text">
            address:
            {{ vacancy.address }}
          </span>
        </div>
        <div class="vacancy_card_body_item">
          <span class="small_text">
            telephone:
            {{ vacancy.telephone }}
          </span>
        </div>
      </div>
      <div class="vacancy_card_buttons">
        <div class="vacancy_card_buttons_item"></div>
        <div class="vacancy_card_buttons_item"></div>
        <div class="vacancy_card_buttons_item"></div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

