{% extends 'base.html.twig' %}

{% block title %}Hello VacancyController!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .vacancy_card { margin-top: 20px; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16); border-radius: 10px; }
    .header { display: flex; justify-content: flex-end; }
    h3, p { margin: 0; }
    .vacancy_card { display: flex;}
    .vacancy_card_title, .vacancy_card_body, .vacancy_card_buttons { width: 33.33%;}
    .vacancy_card_title { display: flex; justify-content: center; align-items: center;}
    .vacancy_card_body_item { text-align: center; }
    .small_text { font-size: 10pt; }
    .vacancy_card_buttons { display: flex; justify-content: space-around; align-items: center; }
    .custom_button { margin-left:15px; display: flex; text-decoration: none; border: 1px solid black; color: black; padding: 3px 10px 3px 10px; height: 40px; text-align: center; justify-content: center; align-items: center}
</style>

  <div class="wrapper">
    <div class="header">
      <a href="{{ path('logout') }}" class="custom_button">Logout</a>
      <a href="{{ path('resumeList') }}" class="custom_button">My Resume List</a>
      <a href="{{ path('index') }}" class="custom_button">Vacancies</a>
    </div>

    <h2>Your vacancies list</h2>

    <a href="{{ path('createVacancy') }}">Create Vacancy</a>


    {% for vacancy in vacancies %}
    <div class="vacancy_card">
      <div class="vacancy_card_title">
        <h3>{{ vacancy.title }}</h3>
      </div>
      <div class="vacancy_card_body">
        <div class="vacancy_card_body_item">
          <span class="small_text">
            address:
            {{ vacancy.address }}
          </span>
        </div>
        <div class="vacancy_card_body_item">
          <span class="small_text">
            telephone:
            {{ vacancy.telephone }}
          </span>
        </div>
        <div class="vacancy_card_body_item">
          <span class="small_text">
            createdAt:
            {{ vacancy.createdAt.format('Y-m-d h:i:s') }}
          </span>
        </div>
      </div>
      <div class="vacancy_card_buttons">
        <div class="vacancy_card_buttons_item">
          <a href="{{ path('showVacancy', {id: vacancy.id }) }}"><i class="fas fa-eye"></i></a>
        </div>
        <div class="vacancy_card_buttons_item">
          <a href="/update/show/{{ vacancy.id }}"><i class="fas fa-edit"></i></a>
        </div>
        <div class="vacancy_card_buttons_item">
          <form action="/delete/{{ vacancy.id }}" method="post">
            <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

